.custom-select {
    width: 20px;
    position: relative;
    display: inline-block;
    background-color: rgba(245, 245, 247, 0.8);
}

.hidden-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    
}

.select-styled {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
   
    
    border-radius: 6px;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    pointer-events: none;
   
}


.flag-img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 2px;
}

