.postit-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10%;
    right: 10%;
    height: 230px;
    width: 350px;
    background-color: rgb(242, 236, 174);
    box-shadow: 0 0 3px 3px rgba(74, 74, 74, 0.7);
}



.postit-header {
    width: 100%;
    height: 15px;
    background-color: rgb(242, 227, 12);
}

.postit-text {
    margin: 8px;
}